.signup-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2.8rem;
    padding: 4rem;
}

.signup-container .toggler-container {
    position: absolute;
    top: 3%;
    left: 3%;
}

.lovebirds-title {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
    color: var(--onbackground-color);
}

.lovebirds-welcome {
    text-align: center;
    width: 12rem;
    font-size: 1rem;
    color: var(--onbackground-color);
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
}

.signup-form .fields-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.8rem;
}

.signup-form .submit-btn {
    width: 8rem;
    height: 2rem;
    background-color: var(--secondary-color);
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--background-color);
    border: none;
    border-radius: 3rem;
    transition: background-color 100ms linear;
    cursor: pointer;
    margin-top: 3rem;
}

.signup-form .submit-btn:active {
    background-color: var(--primary-color);
}

.signup-form .forgot-btn {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: var(--surface-color);
    font-size: 0.75rem;
    cursor: pointer;
}

.signup-form .forgot-btn:active {
    text-decoration: none;
}

.signup-foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}

.signup-foot .new-container {
    display: flex;
    column-gap: 0.5rem;
}

.signup-foot .new-container .new-text {
    width: 8rem;
    text-align: center;
    font-size: 0.85rem;
    color: var(--primary-color);
}

.signup-foot .new-container .signin-btn {
    background-color: transparent;
    border: none;
    width: 3rem;
    text-align: center;
    font-size: 0.85rem;
    color: var(--secondary-color);
    text-decoration: underline;
    cursor: pointer;
}

.new-container .signin-btn:active {
    text-decoration: none;
}

@media only screen and (max-width: 685px) {
    .signup-container .toggler-container {
        top: 3% !important;
        left: 82.5% !important;
    }
}